services:

  n8n:

    image: n8nio/n8n

    ports:

      - "5678:5678"

    environment:

      - N8N_BASIC_AUTH_ACTIVE=true

      - N8N_BASIC_AUTH_USER=yourUser

      - N8N_BASIC_AUTH_PASSWORD=yourPassword

    volumes:

      - ./n8n_data:/home/node/.n8n